﻿@model WebApp.Models.LoginModel

@{
    ViewBag.Title = "Iniciar Sesión";
}

<div class="w-50 mx-auto my-5">
    @using (Html.BeginForm("Enter", "Login", FormMethod.Post, new { id = "loginForm", @onsubmit = "return loginUser();"}))
    {
        <div class="form-group row">
            <label for="userName" class="col-sm-2 col-form-label">Usuario</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", id = "userName" })
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Contraseña</label>
            <div class="col-sm-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "password" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="button" class="btn btn-primary" onclick="loginUser()">Entrar</button>
            </div>
        </div>
    }
</div>