﻿@model WebApp.Models.ProductoModel

@{
    ViewBag.Title = "Lista de productos";
}
<div id="lista_productos" class="mx-5 my-5"></div>
<script type="text/javascript">
    consultaProductos();
</script>